body{
  
  font-family:Arial;
  background-color:rgb(214, 188, 110);
  
  
}
#Container{
  width:400px;
  height:400px;
  background-color: rgb(80, 88, 88);
  margin-top:100px;
  border-radius:7%;

}
h1{
  font-size:26px;
  padding-top:15px;
  color: rgb(146, 228, 228);


}
.input{
  width:200px;
  height:40px;
  
  border-radius:2px;
  border: 2px solid black;
}
button{
  background-color:rgb(181, 226, 76);
  width:130px;
  height:30px;
  border-radius:10px;
  cursor: pointer;
}
.P{
  color: white;
  font-style:italic;
  font-size:20px;
}